.container{
  display: flex;
  gap:3rem;
}
.thumbnail{
  width: 200px;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.link {
  display: inline-block;
 background-color: #d9d9d9;
 padding: 0.5rem;
 color:#353535;
}
